[submodule "EBRAINS-InterscaleHUB"]
	path = EBRAINS-InterscaleHUB
	url = git@github.com:sontheimer/EBRAINS-InterscaleHUB.git
	branch = stable-release
[submodule "EBRAINS-RichEndpoint"]
	path = EBRAINS-RichEndpoint
	url = git@github.com:mfahdaz/EBRAINS-RichEndpoint.git
	branch = stable-release
[submodule "nest-simulator"]
	path = nest-simulator
	url = git@github.com:multiscale-cosim/nest-simulator.git
[submodule "tvb-root"]
	path = tvb-root
	url = git@github.com:multiscale-cosim/tvb-root.git
