[submodule "EBRAINS-InterscaleHUB"]
	path = EBRAINS-InterscaleHUB
	url = https://github.com/sontheimer/EBRAINS-InterscaleHUB.git
	branch = stable-release
[submodule "EBRAINS-RichEndpoint"]
	path = EBRAINS-RichEndpoint
	url = https://github.com/sontheimer/EBRAINS-RichEndpoint.git
	branch = stable-release
[submodule "nest-simulator"]
	path = nest-simulator
	url = https://github.com/multiscale-cosim/nest-simulator.git
[submodule "tvb-root"]
	path = tvb-root
	url = https://github.com/multiscale-cosim/tvb-root.git
[submodule "EBRAINS-Config-Manager"]
	path = EBRAINS-Config-Manager
	url = https://github.com/sontheimer/EBRAINS-Config-Manager.git
	branch = stable-release
[submodule "EBRAINS-Launcher"]
	path = EBRAINS-Launcher
	url = https://github.com/sontheimer/EBRAINS-Launcher.git
	branch = stable-release
